################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/SapphireXR_Test/.vs/SapphireXR/FileContentIndex/428c5219-05e9-4fa3-92dd-21a35d530c96.vsidx
/SapphireXR_Test/.vs/SapphireXR/FileContentIndex/f4748f18-8c63-49d0-a149-104e1123a763.vsidx
/SapphireXR_Test/SapphireXR.project.~u
